<!-- 가게 상세 모달 -->
<div class="modal fade" id="expandStoreModal" tabindex="-1" role="dialog" aria-labelledby="expandStoreModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h5 class="modal-title" id="expandStoreModalLabel">가게 상세 정보</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body container-fluid">
                <div class="display-4 modal-title h3 font-weight-bold" id="expandStoreName">가게 이름</div>
                <div id="expandStoreAdress" class="lead">가게 주소
                </div>
                <small id="expandStoreCategory" class="font-italic">카테고리</small>
                <div class="row">
                    <div class="col-lg-6 p-3 d-flex flex-column">
                        <div class="h4">이미지</div>
                        <div class="d-flex align-items-center flex-fill">
                            <img id="expandStoreImg" class="img-fluid border rounded" src="img/meal.png">
                        </div>
                    </div>
                    <div class="col-lg-6 p-3">
                        <div class="h4">지도</div>
                        <div id="expandStoreMap" class="mx-auto border rounded">API</div>
                    </div>
                    <div class="col-2 h4 p-3">별점</div>
                    <div class="col m-3 storeStar" id="expandStoreStar">별별별별별</div>
                    <div class="w-100"></div>
                    <div class="col p-3">
                        <div class="h4">리뷰</div>
                        <div id="expandStoreReview" class="p-3"></div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col d-flex justify-content-start">
                        <button id="watchLarge" class="mr-1 btn btn-outline-primary">큰 지도 보기</button>
                        <button id="watchDetail" class="mr-1 btn btn-outline-primary">상세 페이지 보기</button>
                        <button id="findWay" class="btn btn-outline-primary">길찾기</button>
                    </div>
                </div>
            </div>
            <div id="expandStoreTimeStamp" class="modal-footer text-right small font-italic">

            </div>
        </div>
    </div>
</div>