<!doctype html>
<html lang="ko">

<head>
    <%- include('../partials/header', {title: title}); %>
</head>

<body>
    <%- include('../partials/nav'); %>
    <section class="container">
        <h1>에러가 발생했습니다!</h1>
        <p class="lead"><%= message %> </p>
    </section>
</body>

</html>