<!doctype html>
<html lang="ko">

<head>
    <%- include('../partials/header', {title: title}); %>
</head>

<body>
    <%- include('../partials/nav'); %>
    <section class="container no-gutters mx-auto">
        <div class="card col-md-10 col-lg-8 col-xl-6 mx-auto mb-3">
            <header class="card-header">
                <h5 class="font-weight-bold">가게 추가</h5>
            </header>
            <section class="card-body">
                <div class="form-group m-3">
                    <form id="searchStoreForm" onsubmit="searchStore(); return false;">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text text-dark" for="inputStoreKwd">
                                    가게 검색
                                </label>
                            </div>
                            <input id="inputStoreKwd" class="form-control" type="text" required>
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-outline-primary">검색</button>
                            </div>
                        </div>
                    </form>
                    <select id="inputStoreSelect" class="mt-2 form-control" size="5">
                        <option>가게명으로 검색</option>
                    </select>
                    <div class="mt-2 d-flex justify-content-end">
                        <button class="btn btn-secondary btn-sm" id="firstPage" type="button" disabled>&lt;&lt;</button>
                        <button class="ml-1 btn btn-secondary btn-sm" id="prevPage" type="button" disabled>&lt;</button>
                        <button class="ml-1 btn btn-secondary btn-sm" id="nextPage" type="button" disabled>&gt;</button>
                        <button class="ml-1 btn btn-secondary btn-sm" id="lastPage" type="button"
                            disabled>&gt;&gt;</button>
                        <button class="ml-1 btn btn-secondary btn-sm" id="decision" type="button" disabled>선택</button>
                    </div>
                </div>
                <hr>
                <form id="addStoreForm" method="POST" action="/write" enctype="multipart/form-data">
                    <div class="form-group m-3">
                        <label for="inputStoreName">
                            가게 이름
                        </label>
                        <input name="name" type="text" class="form-control" id="inputStoreName" placeholder="키워드를 검색해주세요" readonly>
                    </div>
                    <div class="form-group m-3">
                        <label for="inputStoreAddress">
                            가게 주소
                        </label>
                        <input name="address" type="text" class="form-control" id="inputStoreAddress" placeholder="키워드를 검색해주세요"
                            readonly>
                    </div>
                    <div class="form-group m-3">
                        <label for="inputStoreRate">
                            가게 평점
                        </label>
                        <div id="inputStoreStar" class="storeStar">
                            <div>
                                <i class="fa"></i>
                                <i class="fa"></i>
                                <i class="fa"></i>
                                <i class="fa"></i>
                                <i class="fa"></i>
                            </div>
                            <div>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <div>
                                <input name="rate" type="range" class="form-control" id="inputStoreRate" min="0" max="5" step="0.5"
                                    value="0" onchange="drawStar(this.value);">
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-3">
                        <label for="inputStoreImage">
                            가게 이미지
                        </label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="image" accept=".png, .jpg, .gif">
                            <label class="custom-file-label" for="customFile">이미지 파일 선택</label>
                          </div>
                    </div>
                    <div class="form-group m-3">
                        <label for="inputStoreReview">
                            가게 리뷰
                        </label>
                        <textarea name="comments" class="form-control" id="inputStoreReview" rows="5"
                            placeholder="가게 리뷰를 입력해주세요 (20자 이상 200자 이하)" minlength="20" maxlength="200"
                            required></textarea>
                    </div>
                    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2500">
                        <div class="d-flex justify-content-end toast-header">
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="p-4 h5 toast-body">
                            상단의 <b>가게 검색</b> 후 리뷰하고 싶은 가게를 <b>선택</b>해주세요!
                        </div>
                    </div>
                    <footer class="d-flex justify-content-end card-footer">
                        <button type="reset" class="btn btn-outline-secondary mx-1">초기화</button>
                        <button type="submit" class="btn btn-outline-primary mx-1">제출</button>
                    </footer>
                </form>
        </div>
    </section>
    <%- include('../partials/scripts'); %>
</body>

</html>